@page
@model LearnTutorial.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <p>This page is made by Zakaria Ahmed to learn .Net core and its components.
    </p>
</div>

