@page
@model LearnTutorial.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <p>This page is made by Zakaria Ahmed as instructions to learn .Net core and its components.
        This all startet by lack of collectd infomration that Zakaria was looking for, so he decided to make his own.
    </p>
</div>

