@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-page="Index">
    <div class="text-center">
        <h1 class="display-4">Welcome @Model.User </h1>
        <p>The only page you need to learn about .Net core</p>
    
    </div> 
</form>
    