@page
@model LearnTutorial.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-6 text-break mb-5">Login or make a account so you can continue where you left off</h1>

    <form method="post" asp-page="Login">
        <div class="container text-center pt-5">

            <p>Username</p>
            <input type="text" placeholder="Enter username" required name="LoginUserName" class="form-control-sm input" asp-for="LoginUsername" />

            <p>Password</p>
            <input type="password" placeholder="Enter password" required name="LoginPassWord" class="form-control-sm input" asp-for="LoginPassword" /><br /><br />

            <button type="submit" class="btn btn-primary">Log in</button>


            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
            {
                <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
            }
        </div>
    </form><br />
        <p class="pt-5">No account?</p>
        <a asp-area="" asp-page="/RegisterLogin">Create one</a>
</div> 

